
.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer";
}
header {
  grid-area: header;
  text-align: center;
  padding: 0.5%;
  border-bottom: solid 1px #ddd;
}
main {
  grid-area: main;
  margin-top: 2%;
}
footer {
  margin-top: 10%;
  grid-area: footer;
  background-color: #ff6600;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3%;
  text-align: center;
  padding: 0.5%;
  border-top: solid 1px #ddd;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
